:root {
  --primary-color: #ffcdcd;
  --secondary-color: #181818 ;
  --font-color: #181818;
  --btn-primary: #000;
  --btn-secondary: transparent;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
}
svg {
  color:#f7f7e6;
  transition: color 0.15s ease;
}
svg:hover {
  color: #2c5461;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  background: #fff ;
}

::-webkit-scrollbar-thumb {
  background: #181818;
  border-radius: 8px;
}

body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #7c99a3;
  color: #f7f7e6;
}

.container {
  padding: 0 10px;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 1170px;
}
/* NAVIGATION BAR */
.nav-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  flex-wrap: wrap;
}
.nav {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 25px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f7f7e6;
}
.mobile-nav {
  display: none;
}
.navlinks {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.navlink > a {
    font-size: 14px;
    font-weight: 500;
    color:#f7f7e6;
    transition: color 0.20s ease;
    cursor: pointer;
}
.contact:last-child > a {
  border: 1px solid #f7f7e6;
  background-color: #f7f7e6;
  color: #000;
  padding: 10px 18px;
}
.contact:last-child > a:hover {
  background-color: transparent;
  color: #f7f7e6;
}
.navlink > a:hover {
  color:#2c5461;
}
.nav > #logo {
  font-weight: 900;
  font-family: "Lexend Tera", "Montserrat, sans-serif";
  position: absolute;
  top: 11px;
  left:50%;
  transform: translateX(-50%);
  height:100px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7c99a3;
}
.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}
.socials > a > svg {
  display: inline-block;
  /* color:#4242429f; */
  width: 18px;
  height: 18px;
}

/* HOMEPAGE */
#home {
    height: 98vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
 #home h1 {
    font-size: clamp(2rem, 5.5vw, 3rem);
    font-weight: 900;
    font-family: "Lexend Tera", "Montserrat, sans-serif";
  }

  #dynamic-word {
    font-family: "Lexend Tera", "Montserrat, sans-serif";
    border-right: 1px solid #000;
    white-space: nowrap;
    overflow: hidden;
    animation: blinkCursor 0.8s infinite;
  }
  #arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: #fff;
  }

  @keyframes blinkCursor {
    0% { border-color: #f7f7e6; }
    50% { border-color: transparent; }
    100% { border-color: #f7f7e6; }
  }
  @media (max-width: 998px) {
  .nav {
    justify-content: flex-end;
    padding-right: 20px;
  }
  .mobile-nav {
    display: flex;
    list-style-type: none;
    background-color: #7c99a3;
    gap:40px;
    padding: 25px;
    padding-top: 50px;
    flex-direction: column;
    position: absolute;
    top:70px;
    left: -400px;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transition: all 0.25s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 4px 0px 0px 2px;
  }
  .mobile-nav > .navlink a {
    font-size: 22px;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .hamburger span {
    width: 28px;
    height: 3px;
    background-color: #f7f7e6;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  .mobile-nav.active {
    left: 0;
  }
    .navlinks,
    .socials {
      display: none;
    }
  }